<a href="https://colab.research.google.com/github/NikkiBJ/FirstOne/blob/master/lists_presentation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Accessing elements
first_element = my_list[0]  # Accessing the first element (1)
second_element = my_list[1]  # Accessing the second element (2)

# Modifying elements
my_list[2] = 10  # Modifying the third element to 10

# List operations
list1 = [1, 2, 3]
list2 = [4, 5, 6]
concatenated_list = list1 + list2  # Concatenating lists
repeated_list = list1 * 3  # Repeating the list

# List methods
my_list.append(6)  # Appending an item to the end
my_list.insert(2, 7)  # Inserting an item at a specific index
my_list.remove(4)  # Removing an item by value
popped_element = my_list.pop(1)  # Removing and returning an item by index
my_list.sort()  # Sorting the list in ascending order
my_list.reverse()  # Reversing the order of elements

# List functions
length = len(my_list)  # Getting the length of the list
max_value = max(my_list)  # Getting the maximum value
min_value = min(my_list)  # Getting the minimum value
sum_value = sum(my_list)  # Getting the sum of all elements

# Printing the results
print("First element:", first_element)
print("Second element:", second_element)
print("Modified list:", my_list)
print("Concatenated list:", concatenated_list)
print("Repeated list:", repeated_list)
print("Popped element:", popped_element)
print("Length of the list:", length)
print("Maximum value:", max_value)
print("Minimum value:", min_value)
print("Sum of all elements:", sum_value)

In [ ]:
#filter data based on complex criteri
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
filtered_data = [[item for item in row if item % 2 == 0 if item > 4] for row in data]

In [2]:
#array
from array import array

int_array = array('i', [1, 2, 3, 4, 5])  # 'i' represents the data type (integer)

array1 = array('i', [1, 2, 3])
array2 = array('i', [4, 5, 6])
concatenated_array = array1 + array2  # Concatenation
repeated_array = array1 * 3  # Repetition

In [1]:
list_of_arrays = [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

count = sum(isinstance(item, list) for item in list_of_arrays)

print("Number of arrays in the list:", count)

Number of arrays in the list: 4

In [ ]:
# flattening lists

nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened_list = [element for sublist in nested_list for element in sublist]

In [ ]:
#filtered data
nested_data = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
filtered_data = [[item for item in inner_list if item % 2 == 0] for inner_list in nested_data if len(inner_list) > 2]

In [3]:
#nested list
# Creating a nested list
nested_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# Accessing elements in the nested list
element_1_2 = nested_list[1][2]  # Accessing the element at row 1, column 2 (value: 6)
element_2_0 = nested_list[2][0]  # Accessing the element at row 2, column 0 (value: 7)

# Printing the accessed elements
print("Element at [1][2]:", element_1_2)
print("Element at [2][0]:", element_2_0)

Element at [1][2]: 6
Element at [2][0]: 7